<div class="row section-components padding-y mt-3">

    <aside class="col-md-7">

            <figure class="card card-product-grid">
                <strong class="h1 title">
                    Order confirmation #{{order.id}}
                </strong>
                <div class="info-wrap border-top">
                    <div class="h2">{{user.fullname}}</div>
                    <div class="h3">{{user.address1}} {{user.address2}}</div>
                    <div class="h3">{{user.city}} {{user.state}} {{user.country}}, {{user.zip_code}}</div>
                    {% if user.phone_number %}
                    <div><strong>Ph: </strong>{{user.phone_number}}</div>
                    {% endif %}

                </div>

            </figure> <!-- card // -->

        </aside>

        <aside class="col-md-5">

            <figure class="card card-product-grid">
                <div class="img-wrap">
                    <img src="{{product.link_to_images[0]}}">
                </div>
                <figcaption class="info-wrap border-top">
                    <a href="#" class="title">{{product.title}}</a>
                    <div class="row mt-2">
                        <aside class="price-wrap col-md-5">
                            <small class="price-old">${{order.total_price}}</small>
                        </aside> <!-- price-wrap.// -->
                        <aside class="form-group col-md-5 flex-grow-0">
                            <label>Quantity {{order.units}}</label>
                        </aside>
                    </div>
                </figcaption>
                {% if product.link_to_econtent %}
                <div class="img-wrap">
                    <p><strong>E-content : </strong><a href="{{product.link_to_econtent}}">link</a></p>
                </div>
                {% endif %}
            </figure> <!-- card // -->

        </aside>


    </div>



</body>

</html>